* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #fdfdfc;
  --card-color: #ffffff;
  --sub-btn-color: #f4f4f5;
  --text-color: #111111;
  --text-sub-color: #71717a;
  --btn-color: #111111;
  --text-on-btn-color: #ffffff;
  --hover-color: #f4f4f5;
  --border-color: #e4e4e7;
}

[data-theme="dark"] {
  --background-color: #09090b;
  --card-color: #18181b;
  --text-color: #fafafa;
  --text-sub-color: #a1a1aa;
  --btn-color: #fafafa;
  --hover-color: #27272a;
  --border-color: #3f3f46;
}

.card {
  min-height: 60px;
  background-color: var(--card-color);
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 16px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}